@charset "UTF-8";
.gridContacto .form button, .gridLogin .form2 button, .sectionCart .cart .cardInfodepago button {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0 1;
  border: 0.125rem solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s; }
  .gridContacto .form button:hover, .gridLogin .form2 button:hover, .sectionCart .cart .cardInfodepago button:hover {
    background: black;
    color: #fff; }

.gridContacto .form, .gridLogin .form2 {
  background: #e6e6e6;
  padding: 1.6rem 1.6rem;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
  .gridContacto .form h2, .gridLogin .form2 h2 {
    font-weight: bold;
    font-size: 130%;
    margin: 0.625rem 1 0;
    padding-bottom: 0.625rem;
    width: 100%;
    color: #78788c;
    border-bottom: 0.1875rem solid #78788c; }
  .gridContacto .form input, .gridLogin .form2 input {
    width: 100%;
    padding: 0.625rem;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-size: 0.875;
    transition: all .3s;
    border-bottom: 0.125rem solid #bebed2; }
    .gridContacto .form input:focus, .gridLogin .form2 input:focus {
      border-bottom: 0.125rem solid #78788c; }
  .gridContacto .form p:before, .gridLogin .form2 p:before {
    content: attr(type);
    display: block;
    margin: 1.75rem 0 0;
    font-size: 0.875rem;
    color: #5a5a5a; }

/*RESET GENERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  min-height: 100vh;
  width: 100%;
  background-color: #ededee34;
  font-family: 'Montserrat', sans-serif; }

/*ESTILOS HEADER*/
header {
  grid-area: header;
  width: 100%;
  background-color: black;
  opacity: 0.9; }
  header .logohome {
    transition: 1s; }
    header .logohome:hover {
      transform: rotateZ(360deg); }
  header h1 {
    font-family: 'Lily Script One', cursive;
    color: whitesmoke; }
  header .navbar-nav > li {
    transition: all 0.3s ease 0s; }
    header .navbar-nav > li:hover {
      background-color: rgba(255, 68, 0, 0.678);
      border-radius: 1.25rem; }
  header .navbar-nav .nav-item > a {
    color: whitesmoke !important; }
  header .navbar-nav .nav-item .nav-link {
    padding: 0.1rem 0.4rem; }

/*ESTILOS FOOTER*/
footer {
  grid-area: footer;
  text-align: start;
  color: white;
  background-color: black;
  /*Estilos superior footer*/
  /*Estilos contenido footer*/
  /*Estilos base footer*/ }
  footer .sectionFooter1 {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 1.5rem; }
    footer .sectionFooter1 div span {
      color: black; }
    footer .sectionFooter1 a {
      color: black;
      margin-left: 1.5rem; }
  footer .sectionFooter2 {
    margin-top: 4%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; }
    footer .sectionFooter2 div {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 5%; }
      footer .sectionFooter2 div span {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 110%; }
      footer .sectionFooter2 div hr {
        margin-top: 0;
        margin-bottom: 2rem;
        width: 3.75rem;
        background-color: white;
        height: 0.125rem; }
      footer .sectionFooter2 div p a {
        color: white;
        font-size: 100%; }
  footer .footerBase {
    background-color: #080808;
    text-align: center;
    padding: 1rem; }

/*ESTILOS BOTON DE WHATSAPP*/
.botonwhatsapp {
  width: 3.75rem;
  bottom: 6.5625rem;
  right: 1.5625rem;
  z-index: 999;
  opacity: 0.8;
  cursor: pointer; }
  .botonwhatsapp:hover {
    transform: scale(1.1);
    transition: 0.3s; }

/* ESTILOS INDEX */
/* Estilos section 1 - Carousel (INDEX)*/
.section1 {
  padding: 0 1rem; }
  .section1 .section1Cartel {
    padding-top: 3%;
    width: 16rem;
    height: 25rem;
    background-color: rgba(255, 68, 0, 0.678);
    position: absolute;
    left: 72%;
    top: 32%; }
    .section1 .section1Cartel p {
      color: black;
      font-weight: bold;
      font-size: 180%;
      overflow-wrap: break-word;
      font-family: 'Montserrat', sans-serif;
      font-style: italic; }
    .section1 .section1Cartel p:nth-child(2) {
      color: white;
      font-size: 160%; }
  .section1 .contenedor-img {
    height: 34rem; }
    .section1 .contenedor-img img {
      object-fit: cover;
      height: 100%; }

/*Estilos section 2 Cards*/
.section2 {
  margin: 6rem 2rem; }
  .section2 h2 {
    font-size: 150%;
    margin-left: 1.5rem;
    font-weight: bold; }
  .section2 .gridSection2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, fr); }
    .section2 .gridSection2 > .card1, .section2 .gridSection2 .card2, .section2 .gridSection2 .card5, .section2 .gridSection2 .card7 {
      height: 9rem;
      margin: 0.8rem;
      border-radius: 0.5rem;
      padding: 0.3rem;
      display: flex;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.1875rem 0.375rem, rgba(0, 0, 0, 0.23) 0rem 0.1875rem 0.375rem;
      transition: all 0.3s ease 0s; }
      .section2 .gridSection2 > .card1 .cardImagen, .section2 .gridSection2 .card2 .cardImagen, .section2 .gridSection2 .card5 .cardImagen, .section2 .gridSection2 .card7 .cardImagen {
        width: 35%;
        height: 100%; }
        .section2 .gridSection2 > .card1 .cardImagen img, .section2 .gridSection2 .card2 .cardImagen img, .section2 .gridSection2 .card5 .cardImagen img, .section2 .gridSection2 .card7 .cardImagen img {
          object-fit: contain; }
      .section2 .gridSection2 > .card1 .cardTexto, .section2 .gridSection2 .card2 .cardTexto, .section2 .gridSection2 .card5 .cardTexto, .section2 .gridSection2 .card7 .cardTexto {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        height: 100%; }
        .section2 .gridSection2 > .card1 .cardTexto h3, .section2 .gridSection2 .card2 .cardTexto h3, .section2 .gridSection2 .card5 .cardTexto h3, .section2 .gridSection2 .card7 .cardTexto h3 {
          font-size: 125%;
          font-weight: bold; }
        .section2 .gridSection2 > .card1 .cardTexto p, .section2 .gridSection2 .card2 .cardTexto p, .section2 .gridSection2 .card5 .cardTexto p, .section2 .gridSection2 .card7 .cardTexto p {
          font-size: 100%; }
    .section2 .gridSection2 > .card3, .section2 .gridSection2 .card4, .section2 .gridSection2 .card6 {
      display: flex;
      align-items: center;
      justify-content: center; }
      .section2 .gridSection2 > .card3 img, .section2 .gridSection2 .card4 img, .section2 .gridSection2 .card6 img {
        object-fit: contain; }
    .section2 .gridSection2 .card1 {
      grid-row: 1/2;
      grid-column: 1/4; }
    .section2 .gridSection2 .card2 {
      grid-row: 1/2;
      grid-column: 4/6; }
    .section2 .gridSection2 .card3 {
      grid-row: 1/2;
      grid-column: 6/7; }
    .section2 .gridSection2 .card4 {
      grid-row: 2/3;
      grid-column: 1/2; }
    .section2 .gridSection2 .card5 {
      grid-row: 2/3;
      grid-column: 2/4; }
    .section2 .gridSection2 .card6 {
      grid-row: 2/3;
      grid-column: 4/5; }
    .section2 .gridSection2 .card7 {
      grid-row: 2/3;
      grid-column: 5/7; }

/* Estilos section 3 Marcas */
.section3 {
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  margin: 8rem 2rem; }
  .section3 div {
    display: flex;
    justify-content: center; }

/* Estilos section 4 - Íconos pago, envío y compra*/
.section4 {
  padding-bottom: 5rem;
  margin: 0rem 3rem;
  display: flex;
  justify-content: center; }
  .section4 .bordeDerecha {
    border-right: 0.5px solid rgba(128, 128, 128, 0.247); }
  .section4 > div {
    width: 100%;
    padding: 0 1.8%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section4 > div h4 {
      font-weight: bold;
      font-size: 110%; }
    .section4 > div p {
      font-size: 100%; }
    .section4 > div div {
      display: flex;
      justify-content: center; }
    .section4 > div p {
      text-align: center; }

/* ESTILOS NOSOTROS */
.gridNosotros {
  display: grid;
  grid-template-areas: "header header" "nosotros1 nosotros2" "footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 35% 65%;
  /*Estilos columna 1 Nosotros*/
  /*Estilos columna 2 Nosotros*/ }
  .gridNosotros .nosotros1 {
    margin: 2.5rem 0 2.5rem 2.5rem;
    grid-area: nosotros1;
    padding: 2rem;
    background-color: #4b4b4b;
    color: whitesmoke;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem; }
    .gridNosotros .nosotros1 h2 {
      font-size: 180%;
      font-weight: bold;
      margin-bottom: 2rem; }
    .gridNosotros .nosotros1 h3 {
      font-size: 160%; }
  .gridNosotros .nosotros2 {
    margin: 2.5rem 2.5rem 2.5rem 0;
    grid-area: nosotros2;
    display: flex;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    background-color: #ff9101c7;
    align-items: center; }
    .gridNosotros .nosotros2 .colNosotros {
      width: 50%;
      padding: 3rem;
      display: flex;
      flex-direction: column; }
      .gridNosotros .nosotros2 .colNosotros .nosotrosDiv1 {
        width: 100%;
        display: flex;
        align-content: center; }
        .gridNosotros .nosotros2 .colNosotros .nosotrosDiv1 p {
          text-align: justify;
          font-weight: bold;
          font-size: 80%; }
        .gridNosotros .nosotros2 .colNosotros .nosotrosDiv1 img {
          object-fit: contain; }
    .gridNosotros .nosotros2 .borderNosotros {
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem; }

/* ESTILOS PRODUCTOS */
.gridProductos {
  display: grid;
  grid-template-areas: "header header" "menuLateral sectionCards" "footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 10% 90%;
  /*Estilos menú lateral*/ }
  .gridProductos .menuLateral {
    grid-area: menuLateral; }
    .gridProductos .menuLateral .btn {
      margin: 0.3rem; }
      .gridProductos .menuLateral .btn h2 {
        font-size: 0.8rem;
        font-weight: bold; }
      .gridProductos .menuLateral .btn:focus {
        box-shadow: none; }
      .gridProductos .menuLateral .btn:hover .fas {
        color: rgba(255, 68, 0, 0.678); }
    .gridProductos .menuLateral .offcanvas {
      width: 20rem;
      margin-top: 5.4rem; }
      .gridProductos .menuLateral .offcanvas .offcanvas-title {
        font-size: 1.5rem;
        background-color: white;
        padding: 1rem; }
      .gridProductos .menuLateral .offcanvas .list-group a {
        color: whitesmoke;
        border: 2px solid whitesmoke; }
      .gridProductos .menuLateral .offcanvas .list-group .list-group-item {
        background-color: black; }
  .gridProductos .sectionCards {
    grid-area: sectionCards; }
    .gridProductos .sectionCards .card .row {
      height: 10rem; }
      .gridProductos .sectionCards .card .row div {
        height: 100%; }
        .gridProductos .sectionCards .card .row div .card-img {
          height: 100%;
          object-fit: contain; }
        .gridProductos .sectionCards .card .row div .card-body .card-title {
          font-size: 130%; }

/* ESTILOS CONTACTO*/
.gridContacto {
  display: grid;
  grid-template-areas: "header header" "form sectionContacto" "footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 35% 65%;
  /*Estilos formulario de contacto*/
  /*Estilos info contacto*/ }
  .gridContacto .form {
    margin: 2rem 0 auto 3rem;
    grid-area: form;
    width: 80%;
    height: 85%;
    border-radius: 0.5rem; }
    .gridContacto .form div {
      position: absolute;
      bottom: -2rem;
      right: -1.25rem;
      background: black;
      color: #fff;
      width: 90%;
      height: 4.5em;
      padding: 1rem 0.25rem 1rem 0;
      border-radius: 0.375rem;
      font-size: 0.8125rem;
      box-shadow: 0.625rem 0.625rem 2.5rem -0.875rem #000;
      padding: auto auto; }
    .gridContacto .form span {
      margin: 0 0.3125rem 0 0.9375rem; }
  .gridContacto .sectionContacto {
    margin: 2rem;
    grid-area: sectionContacto;
    display: flex;
    border-radius: 1.25rem;
    background-color: #ff9101c7;
    border: 5px solid rgba(255, 68, 0, 0.678); }
    .gridContacto .sectionContacto .colContacto {
      width: 50%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem; }
      .gridContacto .sectionContacto .colContacto .contactoDiv1 {
        width: 100%;
        display: flex;
        align-content: center; }
        .gridContacto .sectionContacto .colContacto .contactoDiv1 p {
          text-align: justify;
          font-weight: bold;
          font-size: 80%; }
        .gridContacto .sectionContacto .colContacto .contactoDiv1 img {
          object-fit: contain; }
      .gridContacto .sectionContacto .colContacto iframe {
        box-shadow: 0.625rem 0.625rem 2.5rem -0.875rem #000; }

/*ESTILOS LOGIN*/
.gridLogin {
  display: grid;
  grid-template-areas: "header header"      "form2 form3" "footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  /*Estilos formulario registro*/
  /*Estilos formulario login*/ }
  .gridLogin .form2 {
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    height: 87%;
    margin: 2rem 0 2rem 16rem;
    grid-area: form2; }
    .gridLogin .form2::after {
      content: ">";
      position: absolute;
      width: 3.125rem;
      height: 3.125rem;
      top: 50%;
      right: -1.5625rem;
      padding: 0.5rem;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      background: whitesmoke;
      border-radius: 50%;
      transform: translateY(-50%);
      box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
      color: black; }
  .gridLogin .form3 {
    margin: 2rem 16rem 2rem 0;
    grid-area: form3;
    background-color: #ff9101c7;
    padding: 1.2875rem 1.6rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    height: 87%;
    border: 0.3125rem solid rgba(255, 68, 0, 0.678);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
    .gridLogin .form3 h2 {
      font-weight: bold;
      font-size: 130%;
      margin: 0.625rem 1 0;
      padding-bottom: 0.625rem;
      width: 100%;
      color: whitesmoke;
      border-bottom: 0.1875rem solid #78788c; }
    .gridLogin .form3 .login-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25%;
      gap: 1.25rem; }
      .gridLogin .form3 .login-items button {
        width: 90%;
        margin: 0.9375rem 0rem;
        padding: 0.625rem;
        box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative; }
        .gridLogin .form3 .login-items button i {
          position: absolute;
          top: 0.75rem;
          left: 0.75rem; }
      .gridLogin .form3 .login-items .fb {
        background: #3b5999;
        border-style: none;
        color: #fff; }
      .gridLogin .form3 .login-items .tw {
        background: #55acef;
        border-style: none;
        color: #fff; }
      .gridLogin .form3 .login-items .correo {
        background: black;
        border-style: none;
        color: #fff; }

/* ESTILOS CARRITO */
.sectionCart {
  margin: 3rem 0;
  display: flex;
  justify-content: center; }
  .sectionCart .cart {
    width: 70%;
    display: flex;
    justify-content: center;
    /*Estilos cards productos*/
    /*Estilos info de pago*/ }
    .sectionCart .cart .cartProductos {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.625rem; }
      .sectionCart .cart .cartProductos .cardCarrito {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        box-shadow: 0.3125rem 0.3125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.08); }
      .sectionCart .cart .cartProductos h2 {
        font-size: 110%;
        font-weight: bold; }
    .sectionCart .cart .cardInfodepago {
      width: 40%;
      background: blue;
      padding: 0.625rem;
      border-radius: 0.375rem;
      color: #fff;
      font-weight: bold; }
      .sectionCart .cart .cardInfodepago .cardRadio {
        margin-top: 1.5rem;
        cursor: pointer; }
        .sectionCart .cart .cardInfodepago .cardRadio input {
          visibility: hidden; }
          .sectionCart .cart .cardInfodepago .cardRadio input:checked + div {
            border-color: #fff;
            background-color: blue;
            color: #fff; }
        .sectionCart .cart .cardInfodepago .cardRadio > div {
          padding: 0.0625rem 0.75rem;
          border: 0.125rem solid #ada9a9;
          display: inline-block;
          color: #8f37aa;
          border-radius: 0.1875rem;
          text-transform: uppercase;
          font-size: 0.6875rem;
          font-weight: 300; }
      .sectionCart .cart .cardInfodepago div .cardTitulos {
        font-size: 0.5625rem;
        font-weight: 300; }
      .sectionCart .cart .cardInfodepago div .credit-inputs {
        background: #6666dd;
        color: #fff !important;
        border-color: #6666dd; }
        .sectionCart .cart .cardInfodepago div .credit-inputs::placeholder {
          color: #fff;
          font-size: 0.8125rem; }
      .sectionCart .cart .cardInfodepago .cardTotal {
        margin-bottom: 0.3125rem; }
        .sectionCart .cart .cardInfodepago .cardTotal span {
          font-size: 100%;
          font-weight: 500;
          font-weight: bold; }
      .sectionCart .cart .cardInfodepago button {
        color: white; }
      .sectionCart .cart .cardInfodepago .cardFecha {
        display: flex;
        gap: 10%; }
        .sectionCart .cart .cardInfodepago .cardFecha > div {
          width: 100%; }

/*ANIMACIONES*/
/*Animación carrousel */
.section1 {
  animation-name: animacionfondo;
  animation-iteration-count: initial;
  animation-timing-function: ease ease-in-out;
  animation-duration: 2s; }

@keyframes animacionfondo {
  0% {
    opacity: 0; }
  100% {
    transform: 1; } }

/*Animación logo giratorio*/
.logoCard {
  animation-name: rotacion;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 3s; }

@keyframes rotacion {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

/*MEDIAS QUERIES*/
@media screen and (max-width: 1200px) {
  /*MEDIA QUERIES - CONTACTO*/
  .form div a {
    font-size: 95%; }
  /*MEDIA QUERIES - LOGIN*/
  .gridLogin .form2 {
    margin: 2rem 0 2rem 11rem; }
  .gridLogin .form3 {
    margin: 2rem 11rem 2rem 0; } }

@media screen and (max-width: 992px) {
  /*MEDIA QUERIES - PRODUCTOS*/
  .gridProductos {
    grid-template-areas: "header" "menuLateral" "sectionCards" "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 0% 100%; }
    .gridProductos .sectionCards {
      margin-top: 6rem;
      width: 100%; }
  /*MEDIA QUERIES - CONTACTO*/
  .gridContacto {
    grid-template-areas: "header" "form" "sectionContacto" "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto; }
    .gridContacto .form {
      width: 40%;
      height: 28rem;
      margin: 2rem auto 2rem auto; }
  /*MEDIA QUERIES - LOGIN*/
  .gridLogin {
    font-size: 90%; }
    .gridLogin .form2 {
      margin: 2rem 0 2rem 7rem; }
    .gridLogin .form3 {
      margin: 2rem 7rem 2rem 0; }
  /*MEDIA QUERIES - CARRITO*/
  .sectionCart .cart {
    width: 90%; } }

@media screen and (max-width: 768px) {
  /*MEDIA QUERIES - INDEX*/
  html {
    font-size: 85%; }
  header h1 {
    padding-right: 8%; }
  .navbar-nav {
    margin: 0 !important; }
    .navbar-nav > li:hover {
      background-color: black !important; }
    .navbar-nav > li .dropdown-menu {
      background-color: inherit;
      border: none; }
      .navbar-nav > li .dropdown-menu a {
        font-size: 85%;
        padding: 0;
        text-align: center;
        color: whitesmoke; }
        .navbar-nav > li .dropdown-menu a:hover {
          color: black; }
  .section1 .section1Cartel {
    left: 61%; }
  .section2 {
    margin-top: 4rem; }
    .section2 .gridSection2 .card3, .section2 .gridSection2 .card4, .section2 .gridSection2 .card6 {
      display: none; }
    .section2 .gridSection2 .card1 {
      grid-column: 1/4; }
    .section2 .gridSection2 .card2 {
      grid-column: 4/7; }
    .section2 .gridSection2 .card5 {
      grid-column: 1/4; }
    .section2 .gridSection2 .card7 {
      grid-column: 4/7; }
  .section3 {
    margin-top: 3rem;
    margin-bottom: 5rem; }
  .section4 {
    margin: 0 0; }
  /*MEDIA QUERIES - NOSOTROS*/
  .gridNosotros {
    display: grid;
    grid-template-areas: "header" "nosotros1" "nosotros2" "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%; }
    .gridNosotros .nosotros1 {
      margin: 2rem 2rem 0 2rem;
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem; }
    .gridNosotros .nosotros2 {
      margin: 2rem 2rem 2rem 2rem;
      flex-direction: column;
      border-top-left-radius: 1.25rem;
      border-bottom-left-radius: 1.25rem; }
      .gridNosotros .nosotros2 .colNosotros {
        width: 100%;
        align-items: center; }
        .gridNosotros .nosotros2 .colNosotros .nosotrosDiv1 {
          width: 90%;
          justify-content: center; }
          .gridNosotros .nosotros2 .colNosotros .nosotrosDiv1 img {
            width: 60%; }
          .gridNosotros .nosotros2 .colNosotros .nosotrosDiv1 p {
            font-size: 100%; }
      .gridNosotros .nosotros2 .borderNosotros {
        border-radius: 0;
        flex-direction: column-reverse;
        padding-top: 0; }
        .gridNosotros .nosotros2 .borderNosotros p {
          margin-top: 3rem; }
  /*MEDIA QUERIES - LOGIN*/
  .gridLogin {
    font-size: 90%; }
    .gridLogin .form2 {
      margin: 2rem 0 2rem 5rem; }
    .gridLogin .form3 {
      margin: 2rem 5rem 2rem 0; }
  /*MEDIA QUERIES - CARRITO*/
  .sectionCart .cart {
    align-items: center;
    flex-direction: column; }
    .sectionCart .cart .cartProductos {
      width: 100%; }
      .sectionCart .cart .cartProductos .cardCarrito {
        height: 6rem; }
    .sectionCart .cart .cardInfodepago {
      width: 80%; } }

@media screen and (max-width: 576px) {
  /*MEDIA QUERIES - INDEX*/
  .section1 {
    display: none; }
  .section2 .gridSection2 {
    grid-template-rows: repeat(4, fr); }
    .section2 .gridSection2 .card1 {
      grid-row: 1/2;
      grid-column: 1/7; }
    .section2 .gridSection2 .card2 {
      grid-row: 2/3;
      grid-column: 1/7; }
    .section2 .gridSection2 .card5 {
      grid-row: 3/4;
      grid-column: 1/7; }
    .section2 .gridSection2 .card7 {
      grid-row: 4/5;
      grid-column: 1/7; }
  .section4 {
    padding: 0 5rem;
    flex-direction: column; }
    .section4 .bordeDerecha {
      border: none; }
    .section4 > div {
      border-right: 0px solid black; }
  .sectionFooter1 div {
    width: 50%; }
  .sectionFooter2 {
    flex-direction: column; }
    .sectionFooter2 div {
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      padding-right: 5%; }
      .sectionFooter2 div p {
        text-align: center; }
  /*MEDIA QUERIES - NOSOTROS*/
  .gridNosotros .nosotros1 {
    margin: 0;
    border-radius: 0; }
  .gridNosotros .nosotros2 {
    margin: 0;
    border-radius: 0; }
  /*MEDIA QUERIES - CONTACTO*/
  .gridContacto .form {
    margin-top: 0;
    border-radius: 0;
    width: 100%; }
    .gridContacto .form > div {
      position: relative; }
  .gridContacto .sectionContacto {
    margin: 1.4rem 0 0 0;
    flex-direction: column;
    justify-content: center; }
    .gridContacto .sectionContacto .colContacto {
      padding: 1rem;
      width: 100%;
      height: 50%;
      align-items: center; }
      .gridContacto .sectionContacto .colContacto .contactoDiv1 {
        width: 60%; }
        .gridContacto .sectionContacto .colContacto .contactoDiv1 img {
          margin-top: 1rem; }
        .gridContacto .sectionContacto .colContacto .contactoDiv1 p {
          display: none; }
  /*MEDIA QUERIES - LOGIN*/
  .gridLogin {
    font-size: 100%;
    display: grid;
    grid-template-areas: "header"      "form2" "form3" "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%; }
    .gridLogin .form2 {
      height: 100%;
      margin: 0;
      border-radius: 0; }
      .gridLogin .form2::after {
        display: none; }
    .gridLogin .form3 {
      height: 100%;
      margin: 0;
      border-radius: 0; }
      .gridLogin .form3 .login-items {
        margin-top: 10%;
        gap: 0.625rem; }
  /*MEDIA QUERIES - CARRITO*/
  .sectionCart {
    margin: 1rem 0 0 0; }
    .sectionCart .cart {
      width: 100%; }
      .sectionCart .cart .cartProductos .cardCarrito {
        height: 7rem; }
      .sectionCart .cart .cardInfodepago {
        width: 100%; } }
