/*RESET GENERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #ededee34;
    font-family: 'Montserrat', sans-serif;
}
