/* ESTILOS CARRITO */
.sectionCart{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    .cart{
        width: 70%;
        display: flex;
        justify-content: center;

        /*Estilos cards productos*/
        .cartProductos{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.625rem;
            .cardCarrito{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                box-shadow: 0.3125rem 0.3125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.08);
            }
            h2{
                font-size: 110%;
                font-weight: bold;
            }
        }

        /*Estilos info de pago*/
        .cardInfodepago{
            width: 40%;
            background: blue;
            padding: 0.625rem;
            border-radius: 0.375rem;
            color: #fff;
            font-weight: bold;
            .cardRadio {
                margin-top: 1.5rem;
                cursor: pointer;
                input{
                    visibility: hidden;
                    &:checked+div{
                        border-color: #fff;
                        background-color: blue;
                        color: #fff;
                    }
                }
                &>div {
                    padding: 0.0625rem 0.75rem;
                    border: 0.125rem solid #ada9a9;
                    display: inline-block;
                    color: #8f37aa;
                    border-radius: 0.1875rem;
                    text-transform: uppercase;
                    font-size: 0.6875rem;
                    font-weight: 300
                }
            }
            div{
                .cardTitulos {
                    font-size: 0.5625rem;
                    font-weight: 300
                }
                .credit-inputs {
                    background: rgb(102, 102, 221);
                    color: #fff !important;
                    border-color: rgb(102, 102, 221);
                    &::placeholder{
                        color: #fff;
                        font-size: 0.8125rem;
                    } 
                }
            }
            .cardTotal{
                margin-bottom: 0.3125rem;
                span{
                font-size: 100%;
                font-weight: 500;
                font-weight: bold;
                }
            } 
            button{
                @extend %botones;
                color: white;
            }
            .cardFecha{
                display: flex;
                gap: 10%;
                &>div{
                    width: 100%;
                }
            }
        }
    }
}