/*ESTILOS HEADER*/
header{
    grid-area: header;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    .logohome{
        transition: 1s;
        &:hover{
            transform: rotateZ(360deg);
        }
    }
    h1{
        font-family: 'Lily Script One', cursive;
        color: whitesmoke;
    }
    .navbar-nav{
         >li{
            transition: all 0.3s ease 0s;
            &:hover{
                background-color: $bg-naranja;
                border-radius: 1.25rem;
            }
        }
        .nav-item{
            &>a{
                color: whitesmoke !important;
            }
            .nav-link{
                padding: 0.1rem 0.4rem;
            }
        }
    }
}

/*ESTILOS FOOTER*/
footer{
    grid-area: footer;
    text-align: start;
    color: white;
    background-color: black;

    /*Estilos superior footer*/
    .sectionFooter1{
        display: flex;
        justify-content: space-between;
        background-color: whitesmoke;
        padding: 1.5rem;
        div{
            span{
                color: black;
            }
        }
        a{
            color: black;
            margin-left: 1.5rem;
        }
    }

    /*Estilos contenido footer*/
    .sectionFooter2{
        margin-top: 4%;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;
        div{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 5%;
            h5{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 110%;
            }
            hr{
                margin-top: 0;
                margin-bottom: 2rem;
                width: 3.75rem;
                background-color: white;
                height: 0.125rem;
            }
            p{
                a{
                    color: white;
                    font-size: 100%;
                }
            }
        }
    }

    /*Estilos base footer*/
    .footerBase{
        background-color: #080808;
        text-align: center;
        padding: 1rem;
    }
}

/*ESTILOS BOTON DE WHATSAPP*/
.botonwhatsapp{
    width: 3.75rem;
    bottom: 6.5625rem;
    right: 1.5625rem;
    z-index: 999;
    opacity: 0.8;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
}