/* ESTILOS NOSOTROS */
.gridNosotros{
    display: grid;
    grid-template-areas: "header header"
                         "nosotros1 nosotros2"
                         "footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 35% 65%;

    /*Estilos columna 1 Nosotros*/
    .nosotros1{
        margin: 2.5rem 0 2.5rem 2.5rem;
        grid-area: nosotros1;
        padding: 2rem;
        background-color: $bg-gris;
        color: whitesmoke;
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
        h2{
            font-size: 180%;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 160%;
        }
    }

    /*Estilos columna 2 Nosotros*/
    .nosotros2{
        margin: 2.5rem 2.5rem 2.5rem 0;
        grid-area: nosotros2;
        display: flex;
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        background-color: $bg-amarillo;
        align-items: center;
        .colNosotros{
            width: 50%;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            .nosotrosDiv1{
                width: 100%;
                display: flex;
                align-content: center;
                p{
                    text-align: justify;
                    font-weight: bold;
                    font-size: 80%;
                }
                img{
                    object-fit: contain;
                }
            }
        }
        .borderNosotros{
            border-top-right-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;
        }
    }
}
